.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  width: 100%;
  margin-top: 90px;

  .page__title {
    font-size: 16px;
    text-align: center;
    padding: 30px 0 20px 0;
    background-color: #f5f5f5;
    z-index: 32;
    position: relative;
  }
}

.page__footer {
  margin-top: auto;
}

.page__text-block {
  padding: 30px 20px 50px 20px;
}

@media (min-width: 1280px) {
  .page__text-block {
    @include page-wrapper;
    padding-top: 45px;
    padding-bottom: 92px;
  }

  .page-wrapper {
    @include page-wrapper;
  }

  .page__main {
    margin-top: 205px;
  }
}
