.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  width: 100%;

  h1 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
  }
}

.page__footer {
  margin-top: auto;
}

.page__text-block {
  padding: 30px 20px 50px 20px;
}

@media (min-width: 1280px) {
  .page__text-block {
    @include page-wrapper;
    padding-top: 45px;
    padding-bottom: 92px;
  }

  .page-wrapper {
    @include page-wrapper;
  }

  .page__main {

    h1 {
      font-size: 18px;
    }
  }
}
