.menu-main__list {
  padding-left: 0;
  margin-top: 20px;
  min-width: 300px;
}

.menu-main__item {
  padding: 10px 90px 10px 0;
  position: relative;
  min-width: 205px;

  &::after {
    @include pseudo;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

@media (min-width: 1280px) {
  .menu-main__item p:hover + .submenu,
  .menu-main__item .submenu:hover {
    display: flex;
    opacity: 1;
  }

  .menu-main__list {
    display: flex;
    min-width: 0;
    margin: 0;
  }

  .menu-main__item {
    min-width: 0;
    padding: 0;
    margin-right: 30px;
    font-weight: normal;

    &::after {
      display: none;
    }
  }
}
