.submenu,
.submenu__overlay {
  display: none;
}

.submenu__wrapper {
  display: flex;
}

.submenu__inner-list {
  li {
    padding: 5px 0;
  }
}

.submenu__column {
  position: relative;
  min-width: 205px;
  padding: 10px 0;

  &::after {
    @include pseudo;
    position: absolute;
    position: absolute;
    top: 15px;
    right: -40px;
    width: 10px;
    height: 10px;
    background-image: url("../../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.submenu__recommend {
  display: none;
}

@media (min-width: 1280px) {
  .submenu {
    position: fixed;
    top: 153px;
    left: 0;
    z-index: 500;
    width: 100%;
  }

  .submenu__wrapper {
    @include page-wrapper;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 90px;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    pointer-events: painted;
  }

  .submenu__list {
    display: flex;
    padding-top: 20px;
  }

  .submenu__column {
    position: unset;
    margin-right: 65px;

    &::after {
      display: none;
    }
  }

  .submenu__column-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  .submenu__image {
    box-sizing: content-box;
    width: 437px;
    height: 305px;
    padding-top: 30px;
  }

  .submenu__recommend {
    position: absolute;
    top: 20px;
    right: calc(50% - 640px);;
    width: 437px;
    height: 305px;
    font-size: 14px;
    opacity: 0;
  }

  .submenu__inner-list {
    li {
      padding: 0;
    }

    &--popular {
      li {
        width: 191px;
        padding-bottom: 12px;
      }
    }
  }

  .submenu__link {
    font-size: 14px;
  }

  .submenu__link:hover + .submenu__recommend {
    display: block;
    opacity: 1;
  }

  .submenu__link:hover + .submenu__img {
    display: block;
    opacity: 1;
  }

  .submenu__reccomend-text {
    padding: 8px 0;
    color: #c4c4c4;
  }

  .submenu__reccomend-title {
    font-weight: 500;
  }

  .submenu__overlay {
    height: 50%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
  }
}
