.breadcrumbs {
  position: relative;
  background-color: #f5f5f5;
  z-index: 31;
}

.breadcrumbs__list {
  display: flex;
  justify-content: center;

  &--none {
    display: none;
  }

  li:not(:last-child) {
    padding-right: 30px;
  }
}

.breadcrumbs__link {
  position: relative;
  font-size: 12px;
  color: #a2a2a2;


  &::after {
    content: "-";
    position: absolute;
    top: 0;
    right: -20px;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 22px;
  }

  &--current,
  &--back {
    &::after {
      display: none;
    }
  }

  &--back {
    position: absolute;
    top: 0;
    left: 40px;
    font-weight: 500;
    color: black;

    span {
      display: none;
    }

    &::before {
      @include pseudo;
      position: absolute;
      position: absolute;
      top: 5px;
      left: -20px;
      width: 10px;
      height: 10px;
      background-image: url("../../../img/dropdown__arrow--black.png");
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }
}

@media (min-width: 1280px) {
  .breadcrumbs {
    @include page-wrapper;
    max-width: 1280px;
    margin: 0 auto;

    &--fixed {
      // z-index: 100;
      width: 100%;
      padding: 10px;
    }

    &--fix {
      position: fixed;
      top: 125px;
    }
  }

  .breadcrumbs__link {
    &--back {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: normal;
      color: #a2a2a2;

      span {
        display: inline-block;
      }

      &::before {
        display: none;
      }
    }
  }

  .breadcrumbs__list {
    &--none {
      display: flex;
    }
  }
}
