.input {
  display: block;
  width: 100%;
  padding: 13px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid $main;
  border-radius: 58px;
  transition: all 0.3s;
  appearance: none;

  &:focus {
    border-color: #ffcc00;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}

.input__edit {
  @include pseudo;
  position: absolute;
  top: 50%;
  right: 28px;
  z-index: 10;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  background-image: url("../../img/pencil.png");
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  appearance: none;
}
