.input {
  display: block;
  width: 100%;
  padding: 13px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid $main;
  border-radius: 58px;
  transition: all 0.3s;
  appearance: none;

  &:focus {
    border-color: #ffcc00;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}
