.filters {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

.filters__fixed {
  background-color: #F5F5F5;
  padding: 20px 0;
  margin: -20px auto;
  z-index: 31;
  position: relative;
  width: 100%;
}

.filters__list {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 60vh;
}

.filters__main-title {
  position: relative;
  font-weight: 500;
  font-size: 12px;

  &::after {
    @include pseudo;
    position: absolute;
    top: 5px;
    right: -20px;
    width: 10px;
    height: 10px;
    background-image: url("../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.filters__item {
  padding: 5px;

  p {
    font-size: 14px;
  }

  label {
    display: flex;
  }
}

.filters__point {
  position: relative;
  padding: 10px 0 20px 0;
  font-weight: 500;
  font-size: 16px;

  &::after {
    @include pseudo;
    position: absolute;
    top: 15px;
    right: 0;
    width: 10px;
    height: 10px;
    background-image: url("../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.filters__category {
  ul {
    padding: 15px 20px;
    border-top: 1px solid #c4c4c4;
  }
}

.filters__price {
  border-top: 1px solid #c4c4c4;
  padding: 20px 0 0 0;
}

.filters__sizes,
.filters__color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .filters__item {
    width: 30%;
  }
}

.filters__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;

  &::before {
    content: none;
  }
}

.filters__color {
  &--red {
    background-color: red;
  }

  &--blue {
    background-color: blue;
  }

  &--orange {
    background-color: orange;
  }

  &--green {
    background-color: green;
  }

  &--yellow {
    background-color: yellow;
  }

  &--white {
    background-color: white;
  }
}

.filters__checkbox {
  &:focus {
    & ~ .filters__check {
      border: 1 px solid rgba(0, 0, 0, 0.5);
    }
  }

  &:checked {
    & ~ .filters__check {
      border: 2px solid black;
    }
  }
}

.filters__extra {
  display: flex;
  justify-content: space-between;

  .js-input-from,
  .js-input-to {
    width: 80%;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
  }


  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
  }
}

.range-slider {
  padding: 10px 0;

  .irs-handle {
    background-color: black !important;
    border-radius: 50%;
  }

  .irs-from,
  .irs-to,
  .irs-min,
  .irs-max {
    display: none;
  }
}

@media (min-width: 1280px) {
  .filters {
    margin: 0;
  }

  .filters__main-title {
    display: none;
  }

  .filters__list {
    position: relative;
    width: 340px;
    overflow-y: hidden;
    max-height: none;
  }

  // .filters__category .dropdown__list,
  // .filters__price {
  //   display: block;
  // }

  .filters__fixed {
    position: unset;
    margin: 0 auto;
    padding: 0;
  }

  .filter__fixed-box {
    width: 340px;
    top: 197px;
    // position: sticky;

    &--fixed {
      position: sticky;
      top: 145px;
      max-height: calc(100vh - 145px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
