.sort__list-wrap {
  position: absolute;
  left: 0;
  z-index: 7;
  display: none;
  width: 100%;
  padding: 30px 20px;
  background-color: #F5F5F5;
}

.sort__main-title {
  position: relative;
  font-weight: 500;
  font-size: 12px;

  &::after {
    @include pseudo;
    position: absolute;
    position: absolute;
    top: 5px;
    right: -20px;
    width: 10px;
    height: 10px;
    background-image: url("../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.sort__title {
  text-align: center;
  color: #a2a2a2;
}

.sort__list {
  margin-left: calc(50% - 70px);
  padding: 30px 0;
}

.sort__item {
  padding: 3px 0;
  text-align: center;

  label {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .sort {
    position: absolute;
    right: 0;

    p {
      font-size: 14px;
    }

    .radio__circle {
      display: none;
    }
  }

  .sort__main-title {
    display: none;
  }

  .sort__list-wrap {
    align-items: center;
    width: 940px;
    padding: 0;
    margin-top: 0;
    right: 0;
    left: unset;
    transition: none;

    &--fixed {
      position: fixed;
      padding-right: calc(50% - 640px);
      width: 100%;
      top: 160px;

      .sort__list {
        padding: 20px 0 10px 0;
      }

      .sort__title {
        margin-bottom: -10px;
      }
    }
  }

  .sort__title {
    margin: 0 20px 0 auto;
  }

  .sort__list {
    margin: 0;
  }

  .sort__list-wrap,
  .sort__list {
    display: flex;
    justify-content: space-between;
  }

  .sort__item:not(:last-child) {
    padding-right: 10px;
  }
}
