.sort__list-wrap {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: white;
  z-index: 6;
  padding: 30px 20px;
}

.sort__main-title {
  font-size: 12px;
  font-weight: 500;
  position: relative;

  &::after {
    @include pseudo;
    position: absolute;
    position: absolute;
    top: 5px;
    right: -20px;
    width: 10px;
    height: 10px;
    background-image: url("../../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.sort__title {
  color:#A2A2A2;
  text-align: center;
}
.sort__list {
  padding: 30px 0;
  margin-left: calc(50% - 70px);
}
.sort__item {
  text-align: center;
  padding: 3px 0;
  label {
    display: flex;
  }
}
