.sort__list-wrap {
  position: absolute;
  left: 0;
  z-index: 6;
  display: none;
  width: 100%;
  padding: 30px 20px;
  background: white;
}

.sort__main-title {
  position: relative;
  font-weight: 500;
  font-size: 12px;

  &::after {
    @include pseudo;
    position: absolute;
    position: absolute;
    top: 5px;
    right: -20px;
    width: 10px;
    height: 10px;
    background-image: url("../../../img/dropdown__arrow--black.png");
    transition: all 0.3s;
  }
}

.sort__title {
  text-align: center;
  color: #a2a2a2;
}

.sort__list {
  margin-left: calc(50% - 70px);
  padding: 30px 0;
}

.sort__item {
  padding: 3px 0;
  text-align: center;

  label {
    display: flex;
  }
}
