.card__sub-list {
  display: flex;
  align-items: center;
  @include list-reset;
  justify-content: center;
  margin: 18px 0;
}

.card__sub-item {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin: 0px 5px;
  &.tns-nav-active {
    background-color: #000000;
  }
  img {
    display: none;
  }
}

.card__item {
  width: 100%;
  img {
    height: 250px;
    display: block;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .card__images {
    width: 50%;
  }

  .card__item {
    img {
      height: 400px;
    }
  }
}

@media (min-width: 1280px) {
  .card__sub-list {

    display: flex;
  }
}
