.user {
  order: 4;

  ul {
    list-style: none;
  }
}

.user__list {
  display: flex;
  justify-content: space-between;
  width: 75px;
  padding-left: 0;
}

.user__link {
  span {
    display: none;
  }

  &--fav {
    svg {
      display: block;
      fill: transparent;
      stroke: #000000;
      stroke-opacity: 1;
      stroke-width: 1px;
    }
  }
}

.user__point {
  &--basket,
  &--enter {
    position: relative;
  }
}

.user__info,
.user__basket {
  position: absolute;
  z-index: 11;
  display: none;
  padding: 20px 23px;
  font-size: 12px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 23px;
}

.user__basket {
  top: 25px;
  right: -10px;

  ul {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 6px;
    width: 25px;
    height: 25px;
    background-color: white;
    transform: rotate(45deg);
  }
}

.user__basket-img {
  width: 80px;
  height: 80px;
}

.user__basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  li {
    max-width: 150px;
    text-align: center;
  }
}

.user__basket-menu {
  width: 240px;
}

.user__info {
  top: 30px;
  right: -60px;
  min-width: 150px;

  li {
    position: relative;
    padding: 5px 0;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 55px;
    width: 30px;
    height: 30px;
    background-color: white;
    transform: rotate(45deg);
  }
}

.user__notification {
  position: absolute;
  right: 15px;
  width: 8px;
  height: 8px;
  padding: 0;
  background: #ffcc00;
  border: none;
  border-radius: 50%;
}

.user__basket-notification {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 13px;
  height: 13px;
  background-color: #ffcc00;
  border: none;
  border-radius: 50%;

  span {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 12px;
  }
}

.user__product-brand {
  font-weight: 500;
  text-transform: uppercase;
}

.user__product-title {
  color: #a2a2a2;
}

.user__product-price {
  font-weight: 500;
}

.user__basket-price {
  padding: 10px 0 20px 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  span {
    text-transform: uppercase;
  }
}

.user__exit {
  padding-top: 20px;
}

.user__exit-link {
  color: #a2a2a2;
}

@media (min-width: 1280px) {
  .user__link {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .user__basket {
    top: 30px;
    right: 0;
  }

  .user__basket-menu {
    font-size: 14px;
  }

  .user__info {
    min-width: 180px;
    font-size: 14px;
  }

  .user__notification {
    right: 10px;
  }

  .user__point--basket a:hover + .user__basket,
  .user__point--basket .user__basket:hover {
    display: block;
  }

  .user__point--enter a:hover + .user__info,
  .user__point--enter .user__info:hover {
    display: block;
  }

  .user__list {
    width: 125px;
  }
}

