.char__title {
  margin-bottom: 20px;
  text-align: left;
}

.char__list {
  @include list-reset;
}

.char__row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.char__item {
  font-size: 14px;
  line-height: 17px;

  span {
    color: #a2a2a2;
  }
}

.char__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
