.map {
  background: #f5f5f5;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  font-size: 12px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.map__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__label {
  input {
    display: none;

    &:checked + .map__radio-title,
    &:checked + .map__address {
      font-weight: 600;
    }
  }
}

.map__radio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.map__city {
  font-size: 14px;
  font-weight: 500;
  width: 50%;
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: #f5f5f5;
}

.map__search {
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 15px;
  width: 100%;
  border-radius: 35px;
  margin-top: 10px;
}

.map__list {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 20px;
  margin: 20px 0;
}

.map__item-address {
  padding: 10px 0;
}

.map__button {
  margin-bottom: 20px;
}

.map__map {
  position: relative;
}

.map__loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-btn {
  background-color: #f5f5f5;
  z-index: 1;
  top: 0;
  width: 28px;
  height: 28px;

  svg {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 768px) {
  .map {
    flex-direction: row;
    max-width: 1060px;
    overflow-y: hidden;
    padding: 0 0 0 20px;
  }

  .map__info {
    padding-right: 30px;
    max-width: 440px;
    justify-content: space-between;
  }

  .map-btn {
    top: 45px;
    right: 10px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
  }

}

@media (min-width: 1078px) {
  .map {
    width: 1060px;
    padding: 0;
    font-size: 14px;
  }

  .map__radio {
    padding: 0 20px;
  }

  .map__info {
    padding: 45px 35px 50px 30px;
  }
  .map__list {
    min-height: 270px;
    padding: 0;
  }

  .map__address {
    text-align: center;
  }

  .map__button {
    margin: 0%;
  }
}
