.products {
  padding: 40px 20px;
  position: relative;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 45%;
  padding-bottom: 30px;
}

.products__cart-fast {
  display: none;
}

.products__heart {
  width: 30px;
  height: 30px;

  svg {
    width: 30px;
    height: 30px;
  }
}

.products__basket {

  svg {
    width: 30px;
    height: 30px;
  }

  span {
    display: none;
  }
}

.products__fav {
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  z-index: 10;
}

.products__move-top {
  width: 45px;
  height: 45px;
  padding: 0;
  background: no-repeat center #2d2d2d url("../../img/dropdown__arrow.png");
  transform: rotate(-180deg);

  position: absolute;
  right: 20px;
  bottom: 30px;
  span {
    display: none;
  }
}

@media (min-width: 768px) {
  .products__item {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .products {
    margin-top: 80px;
  }

  .products__item:hover > .products__fav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .products__move-top {
    width: 75px;
    height: 75px;
    right: -10px;
    bottom: 70px;
  }
}
