.products {
  position: relative;
  padding: 40px 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 45%;
  padding-bottom: 30px;
}

.products__cart-fast {
  display: none;
}

.products__heart {
  width: 30px;
  height: 30px;

  svg {
    width: 30px;
    height: 30px;
  }
}

.products__basket {
  svg {
    width: 30px;
    height: 30px;
  }

  span {
    display: none;
  }
}

.products__fav {
  position: absolute;
  z-index: 10;
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.products__move-top {

  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  padding: 0;
  background: no-repeat center #2d2d2d url("../../img/dropdown__arrow.png");
  transform: rotate(-180deg);

  span {
    display: none;
  }
}

@media (min-width: 768px) {
  .products__item {
    width: 30%;
  }
}
