.header__main {
  padding: 20px 20px;
}

.header {
  background-color: #f5f5f5;
  position: fixed;
  z-index: 101;
  width: 100%;
}

.header__top-row {
  display: flex;
  padding: 8px 0;
  font-size: 12px;
  color: white;
  background-color: $main;
}

.header__link {
  display: block;
  order: 3;
  width: 90px;
  height: 23px;
  margin-top: -5px;
}

.header__phone {
  margin: 0 auto;

  span {
    font-weight: 500;
  }
}

.header__mail {
  display: none;
}

.header__sections {
  display: flex;
  justify-content: space-between;

  &--menu {
    padding: 20px 0 0 0;
    display: none;
  }

  &--open {
    display: flex;
  }

  &--active {
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 11;
    display: block;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
  }
}

.header__search-wrap {
  display: flex;
  justify-content: space-between;
  order: 1;
  width: 75px;
}

.header__search-input {
  display: none;
  font-size: 12px;
  background: #f5f5f5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;

  &--active {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 11;
    display: block;
    width: 100%;
    padding: 15px;
    padding-left: 20px;
    border: none;
  }

  &--open {
    display: block;
    position: absolute;
    bottom: -33px;
    width: 100%;
    padding: 20px;
    left: 0;
    border: none;
  }
}

.header__search-button {
  background: none;
  border: none;
  cursor: pointer;

  span {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__top-row {
    justify-content: space-between;
    padding: 8px 20px;
  }

  .header__mail {
    display: block;
  }

  .header__phone {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .header__main {
    @include page-wrapper;
    padding-top: 40px;
  }

  .header__top-row {
    @include page-wrapper;
    font-size: 14px;
  }

  .header__sections {
    align-items: center;

    &--menu {
      display: block;
      padding: 30px 0 20px 0;
    }
  }

  .header__link {
    order: 1;
    width: 125px;
    height: 32px;
  }

  .header__search-wrap {
    width: 844px;
  }

  .header__hamb {
    display: none;
  }

  .header__form {
    position: relative;
    width: 100%;
  }

  .header__search-input {
    display: block;
    width: 100%;
    padding: 16px 20px;
    font-size: 12px;
    border-width: 1px;
    border-radius: 50px;
  }

  .header__search-button {
    position: absolute;
    top: 15px;
    right: 15px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
